@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.banner {
  &-wrapper {
    background-color: map-get($colors, 'dark');
    margin: 8rem auto 0;
    width: 100%;
  }

  &-inner {
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: center;
  }

  &-text {
    color: map-get($colors, 'light');
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-image {
    display: none;
    position: absolute;
    right: -150px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 768px) {
  .banner {
    &-image {
      display: block;
    }

    &-text {
      align-items: flex-start;
    }

    &-inner {
      justify-content: flex-start;
    }
  }
}
